<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
    
</head>
<body>
    <script src="https://unpkg.com/vue@next"></script>
    <div id="app"></div>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    text: "Sesión abierta",
                    open: "true",
                    userName: "",
                    posts: [{
                        title: "Titulo 1",
                        description: "Lorem ipsum..."
                    }, {
                        title: "Titulo 2",
                        description: "Lorem ipsum..."
                    }, {
                        title: "Titulo 3",
                        description: "Lorem ipsum..."
                    }, {
                        title: "Titulo 4",
                        description: "Lorem ipsum..."
                    }]
                   
                };
            },

            watch: {
                open(value){
                    if (value){
                        this.text = "Sesión abierta";
                    } else {
                        this.text = "Sesión cerrada";
                    }
                    
                }
            },

            computed: {
               
                classType(){  
                    if(this.open){
                        return ['opened'];
                    } else {
                        this.userName = "";
                        return ['closed'];
                        
                    }
                }

            },
                            
            template: `<div class="main" :class="classType">
            <p >{{ text }}</p>
            <div v-if="open">
                <p>Hola, {{ userName }}!</p>
                <h1>Bienvenida nuevamente!</h1>
                <p>Aquí encontrarás los comentarios de tus amigos</p>
                <div v-for="(i, id) in posts" :key="id" class="coments">
                    <h2>{{ i.title }}</h2>
                    <p> {{i.description}}</p>
                </div>
                 
            </div>
            <div v-else>
                <label>
                    <span>User name</span>
                    <input type="text" v-model="userName" />
                    
                </label>
            </div>
            <button @click="open = !open" >
                <div v-if="!open">Iniciar sesión</div>
                <div v-else>Cerrar sesión</div>
            </button>

        </div>
            `
    
         }).mount("#app");
    </script>
    


</body>
</html> 

