.opened {
    background-color: rgb(180, 212, 133);

}

.closed {
    background-color: rgba(207, 118, 118, 0.793);

}

.main {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.coments{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    margin: 1em;
}